@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-eb_garamond);
}

.filter-grey {
  filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%)
    hue-rotate(32deg) brightness(98%) contrast(92%);
}

/* TAILWIND STYLES */
@layer utilities {
  /* WRAPPERS */
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }

  .mini-wrapper {
    @apply max-w-7xl lg:mx-auto w-full;
  }

  /* FLEX */
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .inline-flex-center {
    @apply inline-flex justify-center items-center;
  }

  /* SHADOWS */
  .shadow-primary {
    @apply shadow-[10px_10px_30px_10px_rgba(110,130,208,0.14)] hover:shadow-full;
  }

  .shadow-mini {
    @apply shadow-[10px_10px_30px_10px_rgba(110,130,208,0.14)];
  }

  .shadow-full {
    @apply shadow-[20px_20px_50px_10px_rgba(16,19,30,0.18)];
  }

  /* BUTTONS */
  .button-primary {
    @apply uppercase text-primary-500 font-bold text-[16px] px-8 py-[10px] tracking-[2px] leading-7 bg-primary-50 rounded-lg text-center shadow-primary cursor-pointer;
  }

  .button-secondary {
    @apply uppercase text-primary-50 font-bold text-[16px] px-8 py-[10px] tracking-[2px] leading-7 bg-primary-500 rounded-lg text-center shadow-primary cursor-pointer;
  }

  .button-nav-primary {
    @apply button-primary flex-center cursor-pointer w-[200px] h-[48px] my-[2vw] disabled:pointer-events-none disabled:opacity-50;
  }

  /* GRADIENT */
  .blue-gradient {
    @apply bg-gradient-to-r from-primary-500 via-[#4f8b9c] to-[#396673];
  }

  /* TYPOGRAPHY */
  /* H1 */
  .h1-bold {
    @apply text-[40px] lg:text-[52px] font-bold text-wrap text-center uppercase leading-10 lg:leading-[60px] tracking-widest text-primary-50;
  }

  /* H2 */
  .h2-bold {
    @apply text-[32px] md:text-[40px] md:pt-2 font-bold text-center text-wrap uppercase leading-7 tracking-widest text-primary-50;
  }

  .h2-bold-t8 {
    @apply text-[32px] md:text-[40px] font-bold text-center text-wrap uppercase leading-8 lg:leading-10 tracking-widest text-primary-50;
  }

  .h2-bold-secondary-t8 {
    @apply text-[32px] md:text-[40px] font-bold text-center text-wrap uppercase leading-8 lg:leading-10 tracking-widest text-primary-600;
  }

  /* H3 */
  .h3-bold {
    @apply text-[24px] font-bold text-center text-wrap uppercase leading-6 tracking-widest text-primary-50;
  }

  .h3-bold-secondary {
    @apply text-[24px] font-bold text-center text-wrap uppercase leading-6 tracking-widest text-primary-500;
  }

  .h3-bold-tertiary {
    @apply text-[24px] font-bold text-center text-wrap uppercase leading-6 tracking-widest text-primary-600;
  }

  .h3-special {
    @apply text-[24px] lg:text-[32px] font-bold text-center uppercase leading-8 tracking-[0.3em] text-primary-50;
  }

  /* H4 */
  .h4-special {
    @apply text-[16px] lg:text-[20px] font-bold text-center uppercase leading-6 tracking-[0.3em] text-primary-50;
  }

  /* P */
  .p-descriptor {
    @apply lg:w-5 lg:h-5 md:w-4 md:h-4 w-3 h-3 mr-[6px];
  }

  /* 24 */
  .p-bold-24 {
    @apply font-bold text-[24px] leading-6 tracking-wider flex-1 uppercase;
  }

  /* 20 */
  .p-bold-20 {
    @apply font-bold text-[20px] leading-6 tracking-wider uppercase;
  }

  .p-normal-20 {
    @apply text-[20px] font-normal text-wrap text-center break-words leading-6 text-primary-50;
  }

  .p-regular-20 {
    @apply text-[20px] font-normal text-wrap text-center break-words leading-6 text-primary-50;
  }

  .p-regular-20-secondary {
    @apply text-[20px] font-normal text-wrap text-center break-words leading-6 text-[#5a5a5a];
  }

  .p-form-20 {
    @apply text-[20px] font-normal leading-6 text-primary-50;
  }

  /* 18 */
  .p-bold-18 {
    @apply font-bold text-[18px] leading-6 tracking-wider uppercase;
  }

  .p-semibold-18 {
    @apply text-[18px] font-semibold leading-[28px] tracking-[2%];
  }

  .p-medium-18 {
    @apply text-[18px] font-medium leading-[28px];
  }

  .p-regular-18 {
    @apply text-[18px] font-normal leading-[28px] tracking-[2%];
  }

  /* 16 */
  .p-bold-16 {
    @apply font-bold text-[16px] leading-3  tracking-wider uppercase;
  }

  .p-medium-16 {
    @apply text-[16px] font-medium leading-[24px];
  }

  .p-regular-16 {
    @apply text-[16px] font-normal leading-[32px];
  }

  /* 14 */
  .p-bold-14 {
    @apply text-[14px] font-bold leading-[20px] text-center uppercase text-primary-50 tracking-widest;
  }

  .p-bold-14-secondary {
    @apply text-[14px] font-bold leading-[20px] text-center uppercase text-primary-600 tracking-widest;
  }

  .p-medium-14 {
    @apply text-[14px] font-medium leading-[20px];
  }

  .p-regular-14 {
    @apply text-[14px] font-normal leading-[20px];
  }

  /* 12 */
  .p-medium-12 {
    @apply text-[12px] font-medium leading-[20px];
  }

  .p-bold-12 {
    @apply text-[12px] font-bold leading-[14px] text-center uppercase text-primary-50 tracking-widest;
  }

  .p-bold-12-secondary {
    @apply text-[12px] font-bold leading-[14px] text-center uppercase text-primary-600 tracking-widest;
  }

  /* SHADCN OVERRIDES */
  .select-field {
    @apply h-8 text-primary-100  p-regular-16 px-5 py-3 ring-0 focus-visible:ring-transparent focus:ring-transparent  !important;
  }

  .input-field {
    @apply h-8 text-primary-100  p-regular-16 px-5 py-3 ring-0 focus-visible:ring-transparent focus:ring-transparent  !important;
  }

  .textarea {
    @apply flex flex-1 text-primary-100 p-regular-16 px-5 py-3 ring-0 focus-visible:ring-transparent focus:ring-transparent !important;
  }

  .select-item {
    @apply py-3 cursor-pointer text-primary-100 rounded-sm;
  }

  .toggle-switch {
    @apply bg-gray-300 !important;
  }
}

/* CLERK STYLES */
.cl-logoImage {
  height: 38px;
}

.cl-userButtonBox {
  flex-direction: row-reverse;
}

.cl-userButtonOuterIdentifier {
  font-size: 24px;
}

.cl-userButtonPopoverCard {
  right: 4px !important;
}

.cl-formButtonPrimary {
  background-color: #69b6cc;
  box-shadow: 0;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #2e5463;
  box-shadow: 0;
}

/* REACT-DATEPICKER STYLES */
.datePicker {
  width: 100%;
}

.react-datepicker__input-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
  margin-left: 16px;
}

.react-datepicker__day--selected {
  background-color: #5ca2b5 !important;
  color: #f6f6f6 !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #5ca2b5 !important;
}
